<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SyncAlong</title>
</head>
<body>
<h1 id="title" style="margin:10px">SyncAlong</h1>
<hr>
<div id="navbar" style="padding:10px">
  <button id="mySongs">My Songs</button>
  <button id="uploadSongs">Upload Songs</button>
  <button id="createPlaylist">Create Playlist</button>
  <button id="uploadLyric">Upload Lyric</button>
</div>
<hr>
<div id="songbar" style="display:flex; flex-direction:row; justify-content:space-between">
  <span style="" id="mySongsTitle"><u><b>All Songs</u></b></span>
  <div id="searchWrapper" style="">
    <input type="text" id="searchFilter" onkeyup="filter()" placeholder="Search for songs..">
  </div>
  <div id="filterWrapper" style="margin-right:5%">
    <span>Sort By</span>
    <button type="submit" class="filter">
  </div>
</div>
<div id="listofSongs">
  <div id="songItem">first song</div>
</div>
</body>
</html>
