<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/upload_lyric.css">
    <title>SyncAlong</title>
</head>
<body>
    <h1 id="title">SyncAlong</h1>
    <hr>
    <div id="navbar">
      <button class="navButton" id="mySongs">My Songs</button>
      <button class="navButton" id="uploadSongs">Upload Songs</button>
      <button class="navButton" id="createPlaylist">Create Playlist</button>
      <button class="navButton" id="uploadLyric">Upload Lyric</button>
    </div>
    <hr>
    <h2>Upload Lyrics</h2>
    <p> You have two options to load lyrics into a song </p>
    <p> Choose a Song </p>
    <label for="song_chosen">Song Chosen for </label>
    <button id="find_lyric">Find Lyric</button>
    </br>
    <textarea id="lyric_text" rows="8" cols="80">Enter song lyric here</textarea>
</body>
</html>
