<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <title>SyncAlong</title>
</head>
<body>
    <h1 id="title">SyncAlong</h1>
    <hr>
    <div id="navbar">
      <button class="navButton" id="mySongs">My Songs</button>
      <button class="navButton" id="uploadSongs">Upload Songs</button>
      <button class="navButton" id="createPlaylist">Create Playlist</button>
      <button class="navButton" id="uploadLyric">Upload Lyric</button>
    </div>
    <hr>
</body>
</html>
